{% if site.enable_google_verification or site.enable_bing_verification %}
  <!-- Website verification -->
  {% if site.enable_google_verification %}
    <meta name="google-site-verification" content="{{ site.google_site_verification }}">
  {% endif %}
  {% if site.enable_bing_verification %}
    <meta name="msvalidate.01" content="{{ site.bing_site_verification }}">
  {% endif %}
  <!--
    Avoid warning on Google Chrome Error with Permissions-Policy header:
    Origin trial controlled feature not enabled: 'interest-cohort'.
    see https://stackoverflow.com/a/75119417
  -->
  <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
{% endif %}

{% capture author_name %}{{ site.first_name }}{% if site.middle_name %} {{ site.middle_name }}{% endif %} {{ site.last_name }}{% endcapture %}
{% capture site_title %}{% if site.title == 'blank' %}{{ author_name }}{% else %}{{ site.title }}{% endif %}{% endcapture %}

{% assign is_blog_post = false %}
{% if page.url != '/blog/index.html' and page.url contains '/blog/' %}
  {% unless page.url contains '/tag/' or page.url contains '/category/' %}
    {% assign is_blog_post = true %}
  {% endunless %}
{% endif %}

{% capture page_title %}{% if page.title %}{{ page.title }}{% else %}{{ site_title }}{% endif %}{% endcapture %}
{% capture page_description %}{% if is_blog_post %}{{ page.excerpt | strip_html | strip }}{% else %}{{ page.description | default: site.description | strip }}{% else %}{% endif %}{% endcapture %}

<!-- Standard metadata -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>
  {% if page.url == '/blog/index.html' %}
    {{ page.title }} | {{ site_title }}
  {% elsif page.title != 'blank' and page.url != '/' %}
    {% if page.title == null or page.title == '' %}
      {{ page.date | date: '%Y' }} | {{ site_title }}
    {% else %}
      {{ page.title }} | {{ site_title }}
    {% endif %}
  {% else %}
    {{ site_title }}
  {% endif %}
</title>
<meta name="author" content="{{ author_name }}">
<meta name="description" content="{{ page_description }}">
{% if page.keywords or site.keywords %}
<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
{% endif %}

{% if site.open_graph_metadata and site.open_graph_metadata.enabled == true %}
  {% capture page_image %}{% if page.og_image %}{{ page.og_image }}{% else %}{{ page.thumbnail | default: site.open_graph_metadata.image }}{% endif %}{% endcapture %}
  <!-- OpenGraph -->
  <meta property="og:site_name" content="{{ site_title }}">
  <meta property="og:type" content="{% if is_blog_post %}article{% else %}website{% endif %}">
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url | remove_first: 'index.html' }}">
  <meta property="og:description" content="{{ page_description }}">
  {% if page_image %}
  <meta property="og:image" content="{{ page_image | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
  <meta property="og:locale" content="{{ site.lang }}">
  <!-- OpenGraph / Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ page_title }}">
  <meta name="twitter:description" content="{{ page_description }}">
  {% if page_image %}
  <meta name="twitter:image" content="{{ page_image | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
  {% if site.x_username %}
  <meta name="twitter:site" content="@{{ site.x_username }}">
  <meta name="twitter:creator" content="@{{ site.x_username }}">
  {% endif %}
{% endif %}

{% if site.schema_org_metadata and site.schema_org_metadata.enabled == true %}
  <!-- Schema.org -->
  <script type="application/ld+json">
    {
        "author":
        {
            "@type": "Person",
            "name": "{{ author_name }}"
        },
        "url": "{{ page.url | prepend: site.baseurl | prepend: site.url }}",
        "@type": "{% if is_blog_post %}BlogPosting{% else %}WebSite{% endif %}",
        "description": "{{ page_description }}",
        "headline": "{{ page_title }}",
        {% if site.schema_org_metadata.sameAs %}
        "sameAs": {{ site.schema_org_metadata.sameAs | jsonify }},
        {% endif %}
        "name": "{{ author_name }}",
        "@context": "https://schema.org"
    }
  </script>
{% endif %}
