---
layout: default
---
<div class="post">
  <header class="post-header">
    {% if page.type == 'year' %}
      <h1 class="post-title"><i class="fa-solid fa-calendar fa-sm"></i> {{ page.date | date: '%Y' }}</h1>
      <p class="post-description">Записи за выбранный год</p>
    {% elsif page.type == 'categories' %}
      <h1 class="post-title"><i class="fa-solid fa-tag fa-sm"></i> {{ page.title }}</h1>
      {% assign display_category = site.display_categories | where: "name", page.title | first %}
      {% if display_category and display_category.title %}
      <p class="post-description">Записи из категории "{{ display_category.title }}"</p>
      {% else %}
      <p class="post-description">Записи из выбранной категории</p>
      {% endif %}
    {% elsif page.type == 'tags' %}
      <h1 class="post-title"><i class="fa-solid fa-hashtag fa-sm"></i> {{ page.title }}</h1>
      {% assign display_tag = site.display_tags | where: "name", page.title | first %}
      {% if display_tag and display_tag.title %}
      <p class="post-description">Записи с тегом "{{ display_tag.title }}"</p>
      {% else %}
      <p class="post-description">Записи с выбранным тегом</p>
      {% endif %}
    {% endif %}
  </header>

  <article class="archive">
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        {% for document in page.documents %}
          <tr>
            <th scope="row" class="archive-th">{{ document.date | date: '%Y-%m-%d' }}</th>
            <td>
              {% if document.redirect == blank %}
                <a class="post-link" href="{{ document.url | relative_url }}">{{ document.title }}</a>
              {% elsif document.redirect contains '://' %}
                <a class="post-link" href="{{ document.redirect }}" target="_blank">{{ document.title }}</a>
              {% else %}
                <a class="post-link" href="{{ document.redirect | relative_url }}">{{ document.title }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </article>
</div>
